body {
   background-color: #e7ecef;
}

.back-button {
   border-bottom: 1px solid black;
   padding-bottom: 0.5rem;
}

header {
   padding: 0;
   margin: 0;
}

.form-q {
   margin-top: 1rem;
}

label {
   display: inline-block;
   min-width: 7rem;
}

.radio label,
.checkbox label {
   display: inline;
   width: auto;
}

.wrapper {
   width: clamp(200px, 70vw, 1000px);
   margin: 1rem auto;
   background-color: #a3cef1;
   padding: 1rem;
   border: 1px solid black;
   border-radius: 5px;
}

.wrapper h1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2rem;
}

form {
   display: flex;
   flex-flow: column nowrap;
   gap: 1rem;
   width: 100%;
}

fieldset {
   border: 1px solid black;
   border-radius: 5px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

legend {
   font-size: 1.5rem;
}

button[type="submit"] {
   width: 10rem;
   height: 2rem;
   background-color: #ee4266;
   color: white;
}

button[type="submit"]:hover {
   background-color: white;
   color: #ee4266;
}

textarea {
   display: block;
   margin-top: 1rem;
   min-width: 20rem;
   min-height: 5rem;
}
