html {
   box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}

.back-button {
   border-bottom: 1px solid black;
}
.back-button a {
   color: black;
}
.back-button button {
   margin-bottom: 0.3rem;
}

body {
   font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Kavivanar", cursive;
   font-weight: normal;
}

h2 {
   font-size: 2rem;
}

.wrapper {
   width: 90%;
   margin: 0 auto;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: nowrap;
   gap: 1rem;
   align-items: center;
}

.rightheader {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.rightheader h1,
.rightheader p {
   margin: 0;
}

h1 {
   color: #da0090;
}

h2 {
   font-size: 2rem;
   color: #a51f10;
   margin: 0;
}
nav {
   padding: 0;
   border-bottom: 1px solid #a51f10;
   border-top: 1px solid #da0090;
}

nav ul {
   margin: 0;
   padding: 0;
}
/*
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   padding: 0.36rem;
   margin-top: 0;
}
*/
nav a {
   color: #624530;
   font-size: 0.8rem;
   display: block;
   padding: 0.5rem 1rem;
}

nav a:hover {
   text-decoration: none;
}

nav ul {
   list-style-type: none;
   text-align: center;
}

nav li {
   display: inline-block;
   text-decoration: none;
}

a {
   color: #da0090;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.posted {
   font-size: 0.8rem;
   color: #89a611;
}
footer {
   text-align: center;
   font-size: 0.8rem;
}

article {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   margin: 2rem 0;
}

.article-img img {
   border-radius: 20px;
}

section.articles {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #da0090;
   margin: 0 0 0.3rem 0;
}

footer {
   display: flex;
   flex-direction: column;
   border-top: 1px solid #a61f11;
}

footer ul {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   justify-content: center;
   margin: 0;
   padding: 0;
   gap: 0.2rem;
}

footer p {
   font-size: 0.7rem;
}
