/* This is a style sheet*/

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #ffffcc;
}

#title {
   font-size: 50px;
   border: 4px dotted pink;
}

img {
   max-width: 400px;
   border: 2px solid black;
}

blockquote {
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   font-size: 2.5rem;
   font-style: italic;
   text-align: center;
}

cite {
   font-size: 1.8rem;
}

.bigbold {
   font-weight: bold;
}

h3 {
   font-weight: normal;
}

a {
   text-decoration: none;
}

ul a:link {
   color: darkcyan;
   font-weight: bold;
}

a:hover {
   color: red;
   text-decoration: underline;
}

a.harvard:hover {
   color: magenta;
}

p:hover {
   background-color: lightblue;
}

div.background.blue p:hover {
   background-color: black;
}

.outline {
   margin: 1rem;
   padding: 1rem;
}

.red-outline {
   border: 3px solid red;
}

.blue-outline {
   border: 3px solid blue;
}

.pink-outline {
   border: 3px solid pink;
}

.green-outline {
   border: 3px solid green;
}

.magenta-outline {
   border: 3px solid magenta;
}

div.background {
   height: 200px;
   border: 2px solid black;
   position: relative;
   width: 50%;
}

div.background.coral {
   background-color: coral;
   z-index: 1;
}

div.background.blue {
   background-color: blue;
   margin-top: -100px;
}

div.background.blue p {
   color: white;
   position: absolute;
   bottom: 0;
}

.background.coral p {
   margin: 0;
}

a,
em,
strong {
   border: 2px solid black;
}
.div-container {
   display: flex;
   flex-direction: column;
   border: 2px solid black;
   align-items: center;
}
